



{% load static %}
<!DOCTYPE html>

  <h1>Logged in as:{{user.username}}</h1>

<html lang="en" xmlns="http://www.w3.org/1999/html">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Todos</title>
    <a href="{% url 'logout' %}">Logout</a>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css">
    <link rel="stylesheet" href="{% static 'styles.css' %}">
</head>

<body style="background-color:powderblue;">

    <div class="container">
                <div class="card">
                    <div class="card-header shadow-sm bg-light">
                        <h1 class="display-8 text-info" align="center" >  Events of Wikicfp and BMBF</h1>
                    </div>

                   <table border="2" width="100%" cellpadding="3" align="center">
                        <tr>
                            <th>Title</th>
                            <th>Dates</th>
                            <th>Place</th>
                            <th>Deadline</th>
                            <th>URL</th>
                            {% for events in list_events %}
                         <tbody>
                          <tr>
                               <td >{{events.Title}}</td>
                               <td >{{events.Dates}}</td>
                               <td >{{events.Where}}</td>
                               <td >{{events.Deadline}}</td>
                               <td>

                               <a href="{{events.Url}}"> {{events.Url}} </a></td>


                          </tr>
                          <br><br>

                         </tbody>

                        {% endfor %}
                    </table>

                </div>
    </div>

</body>

</html>
